/*
----- table of contents
1. base / reset
2. layout
3. elements
4. component
5. pages
6. queries
    6.1 desktop
    6.2 tablet
    6.3 mobile
------------------ */

/*###########
---- BASE --
########### */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

div,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
}

input::placeholder {
    color: #cdd2dd;
}

h1,h2,h3,h4,p,span {
    margin: 0;
}

/*###########
---- LAYOUT --
########### */

.page-wrap {
    max-width: 1130px;
    padding: 0 20px;
    margin: auto;
}

/** header --- */
.header {
    background-color: #020202;
    max-height: 165px;
}
.header-wrap {
    display: flex;
}
.header-logo {
    width: 245px;
}
.header-nav {
    width: 845px;
}
.header-top {
    display: flex;
    height: 130px;
    background-color: #e00404;
}
.header-top-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
}
.header-top-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.header-top-search {
    display: flex;
    margin: 10px 0;
}
.header-navbar {
    height: 35px;
}

.main-wrap {
    margin: 15px 0;
}
.footer-wrap {
    background-color: #000000;
}
.footer {
    max-width: 1130px;
    padding: 40px 20px 35px 20px;
    margin: auto;
}
.footer-pillar {
    min-width: 300px;
}

/*###########
---- COMPONENT --
########### */

/** typography -- */
h1 {
    font-size: 54px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 16px;
    line-height: 1.4;
}
li > a {
    font-weight: 700;
    text-transform: uppercase;
}

/** header-top --- */
.header-top-b span {
    color: #ffce26;
    font-weight: 700;
    font-size: 43px;
}
.header-top-search {
    padding: 2px;
    background-color: #fff;
}
.header-top-search input {
    padding: 10px;
    width: 290px;
    border: 1px solid #aaaaaa;
    color: #cdd2dd;
}
.header-top-search button {
    padding: 10px;
    width: 60px;
    border: 1px solid #aaaaaa;
    border-left: none;
}

/** navigation --- */
.header-nav .menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding-right: 20px;
    padding-top: 3px;
    pading-bottom: 2px;
}
.menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 10px;
    cursor: pointer;
}
.menu > li:hover {
    background-color: #ff0000;
    border: 1px solid #f0c224;
    border-radius: 2px;
}
.menu li > a {
    color: #ffce26;
}

/** Hero Slider --- */
.hero {
    max-height: 440px;
    margin-bottom: 20px;
}
.hero-item img {
    max-width: 100%;
}

/** Grid --- */
.grid {
    display: flex;
}
.home .product-wrap {
    width: 565px;
    border-right: 1px solid #818181;
}
.home .home-text {
    width: 530px;
    padding: 20px;
}
.home-text h1 {
    color: #e00404;
}
.home-text h3 {
    margin: 15px 0;
}

/** Product --- */
.product-wrap {
    display: flex;
    flex-wrap: wrap;
}
.product-box {
    min-width: 250px;
    border: 1px solid #9f9f9f;
    background-color: #fffde9;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 165px;
    background-color: #ffffff;
    border: 1px solid #9f9f9f;
}
.product-image img {
    max-width: 100%;
}
.product-title {
    width: 75%;
    margin: 15px 0;
}
.product-title p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
}
.product-info .btn {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    padding: 8px 0;
    width: 100px;
    border: 1px solid #222221;
    border-radius: 2px;
}
.btn.enquire-btn {
    background-color: #e00404;
    color: #ffce26;
}
.btn.specs-btn {
    background-color: #ffce26;
    color: #e00404;
}
.product-info-price span.product-price {
    color: #e00404;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    margin-right: 2px;
}
.product-info span {
    display: inline-block;
    margin: 5px 0;
}
.product-info span.product-info-num {
    display: block;
}

/** Footer --- */
.footer li {
    margin-bottom: 10px;
}
.footer li:last-child {
    margin-bottom: 0;
}
.footer li > a {
    color: #fff;
}
